es (83 sloc)  2.87 KB
 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://github.com/anapaulacostacurta08/app-ciale/imagens/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://github.com/anapaulacostacurta08/app-ciale/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://github.com/anapaulacostacurta08/app-ciale/css/App.css"/>
    <title>Aplicativo Inspetor Ciale</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div className="App">
      <header className="App-header">
        <div class="row text-center px-auto mx-auto">
          <div class="col w-100"> 
              <img src="https://github.com/anapaulacostacurta08/app-ciale/images/logo.png" alt="logo" width="50%"/>
              <h1>CIALE INSPETOR</h1>
           </div>
        </div>
        <div class="row w-100 mx-auto">
            <div class="col" >
                <p class="text-dark">.</p>
            </div>
        </div>
        <div class="row w-100 mx-auto">
            <div class="col" >
                <p class="text-dark">.</p>
            </div>
        </div>
        <div class="row w-100 mx-auto">
            <div class="col" >
                <p class="text-dark">.</p>
            </div>
        </div>
        <div class="row w-100 mx-auto">
            <div class="col" >
                <p><button type="button" onclick="https://github.com/anapaulacostacurta08/app-ciale/view/novainspecao.html" >INICIAR</button></p>
            </div>
        </div>
        <div class="row w-100 mx-auto">
            <div class="col" >
                <p><button type="button" onclick="https://github.com/anapaulacostacurta08/app-ciale/view/inspecao.html" >INICIAR</button></p>
            </div>
        </div>
        <div class="row w-100 mx-auto">
            <div class="col" >
                <p><button type="button" onclick="https://github.com/anapaulacostacurta08/app-ciale/view/alterarinspecao.html" >INICIAR</button></p>
            </div>
        </div>
        <div class="row w-100 mx-auto">
            <div class="col" >
                <p class="text-dark">.</p>
            </div>
        </div>
        <div class="row w-100 mx-auto">
            <div class="col" >
                <p class="text-dark">.</p>
            </div>
        </div>
        <div class="row w-100 mx-auto">
            <div class="col" >
                <p class="text-dark">.</p>
            </div>
        </div>
        <div class="row w-100 mx-auto">
          <div class="col">
            <img src="https://github.com/anapaulacostacurta08/app-ciale/images/img_selo_academia.png"  width="20%"/>
            <img src="https://github.com/anapaulacostacurta08/app-ciale/images/img_logo_fundo_preto.jpeg"  width="50%"/>
          </div>
        </div>    
        <div class="row w-100">
          <div class="col ">
            <hr/>
            <h4>www.cialebrasil.com.br</h4>
            <hr/>
          </div>
        </div>  
      </header>
    </div> 
    <div id="root"></div>
  </body>
</html>
